@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #ffe1c1">
    <h1>Challenge</h1>
    <p class="lead">Compete with people about the challenges you love. <br /> Create an account and join your first challenge.</p>
    <p>@Html.ActionLink("Learn more »", "Index", "Challenges", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h3>Create an account</h3>
        @Html.ActionLink("Create account", "Register", "Account", null, new { @class = "btn btn-success btn-lg" })
    </div>
    <div class="col-md-4 text-center">
        <h3>Getting started</h3>
        @Html.ActionLink("Challenges", "Index", "Challenges", null, new { @class = "btn btn-primary btn-lg" })
    </div>
    <div class="col-md-4 text-center">
        <h3>Add role to a user</h3>
        @Html.ActionLink("Assign Roles", "AddUserToRole", "Account", null, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>